Repository JavaScriptonit/mymicroservice-cicd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_products, deploy_frontend, deploy_products

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE != "merge_request_event"      
      when: never
    - when: always

variables:
  DEV_SERVER_HOST: 35.180.46.122
  DEV_ENDPOINT: http://ec2-35-180-46-122.eu-west-3.compute.amazonaws.com:3000


stages:
 - build
 - deploy

.build:
  stage: build
  tags: 
    - monorepo
    - mac
    - local
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG

build_frontend:
  extends: .build
  before_script:
    - cd frontend
    - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/frontend
    - export IMAGE_TAG=1.0
  only:
    changes:
      - "frontend/**/*" 

build_products:
  extends: .build
  before_script:
    - cd products
    - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/products
    - export IMAGE_TAG=1.0
  only:
    changes:
      - "products/**/*"

.deploy_to_dev:
  stage: deploy
  tags: 
    - monorepo
    - mac
    - local
  before_script:
    - export KUBECONFIG=$K8S_AUTH
  script:
    - kubectl get pod -n my-app


deploy_frontend:
  extends: .deploy_to_dev
  before_script:
    - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/frontend
    - export IMAGE_TAG=1.0
  only:
    changes:
      - "frontend/**/*" 

deploy_products:
  extends: .deploy_to_dev
  before_script:
    - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/products
    - export IMAGE_TAG=1.0
  only:
    changes:
      - "products/**/*"

Add deploy jobs and docker-compose
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

Update server.js
  frontend/server.js
Due: build_frontend, deploy_frontend

Fix deploy code
  .gitlab-ci.yml
Due: none

change frontend
  frontend/server.js
Due: build_frontend, deploy_frontend

Update server.js
  products/server.js
Due: build_products, deploy_products

change frontend
  frontend/Dockerfile
Due: build_frontend, deploy_frontend

change frontend
  docker-compose.yaml
  frontend/Dockerfile
Due: build_frontend, deploy_frontend

change frontend
  docker-compose.yaml
Due: none

docker-compose config
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

Reuse build logic for services
  docker-compose.yaml
Due: none

Reuse build logic for services
  .gitlab-ci.yml
Due: none

Update server.js
  shopping-cart/server.js
Due: none

add correct endpoint
  .gitlab-ci.yml
Due: none

17.12.22 update frontend package.json package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend, deploy_frontend

delete .gitlab-ci.yaml docker-compose.yaml
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

update Readme.md
  README.md
Due: none

18.12.22 Add release pipeline
  .gitlab-ci.yml
Due: none

update server.js /frontend to test pipeline add
  frontend/server.js
Due: build_frontend, deploy_frontend

update server.js /products to test pipeline add
  products/server.js
Due: build_products, deploy_products

18.12.22 Reuse build job for services
  .gitlab-ci.yml
Due: none

products and frontend pipeline check
  frontend/server.js
  products/server.js
Due: build_frontend, build_products, deploy_frontend, deploy_products

20.12.22 Deploy micro-services docker-compose.yaml .gitlab-ci.yml
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

21.12.22 add deploy jobs and docker-compose.yaml add network in docker-compose.yaml .gitlab-ci.yml
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

deploy test frontend
  frontend/server.js
Due: build_frontend, deploy_frontend

deploy test frontend
  .gitlab-ci.yml
  frontend/server.js
Due: build_frontend, deploy_frontend

deploy test products
  .gitlab-ci.yml
  products/server.js
Due: build_products, deploy_products

deploy test shopping-cart
  shopping-cart/server.js
Due: none

deploy shopping-cart typo fix
  .gitlab-ci.yml
Due: none
