Repository JavaScriptonit/mymicroservice-cicd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_products, deploy_frontend, deploy_products

build_frontend:
  stage: build
  tags:
  - ec2
  - shell
  - remote
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $IMAGE_NAME:$IMAGE_TAG .
  - docker push $IMAGE_NAME:$IMAGE_TAG
  before_script:
  - cd frontend
  - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/frontend
  ...

build_products:
  stage: build
  tags:
  - ec2
  - shell
  - remote
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $IMAGE_NAME:$IMAGE_TAG .
  - docker push $IMAGE_NAME:$IMAGE_TAG
  before_script:
  - cd products
  - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/products
  ...

deploy_frontend:
  stage: deploy
  tags:
  - ec2
  - shell
  - remote
  before_script:
  - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/frontend
  - export IMAGE_TAG=1.0
  script:
  - scp -o StrictHostKeyChecking=no -i $SSH_PRIVATE_KEY ./docker-compose.yaml ubuntu@$DEV_SERVER_HOST:/home/ubuntu
  ...

deploy_products:
  stage: deploy
  tags:
  - ec2
  - shell
  - remote
  before_script:
  - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/products
  - export IMAGE_TAG=1.0
  script:
  - scp -o StrictHostKeyChecking=no -i $SSH_PRIVATE_KEY ./docker-compose.yaml ubuntu@$DEV_SERVER_HOST:/home/ubuntu
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update index.html
  frontend/index.html
Due: build_frontend, deploy_frontend

Update server.js
  products/server.js
Due: build_products, deploy_products

Add new file
  test.yaml
Due: none

Update test.yaml
  frontend/test.yaml
Due: build_frontend, deploy_frontend

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete docker-compose.yaml
  docker-compose.yaml
Due: none

Update Dockerfile
  frontend/Dockerfile
Due: build_frontend, deploy_frontend

Update README.md
  README.md
Due: none

Delete test.yaml
  frontend/test.yaml
Due: build_frontend, deploy_frontend

Add release pipeline
  .gitlab-ci.yml
Due: none

Update server.js
  frontend/server.js
Due: build_frontend, deploy_frontend

Reuse build logic for services
  .gitlab-ci.yml
Due: none

Reuse build job for services
  .gitlab-ci.yml
Due: none

Path conditions:
  build_frontend: any of: frontend/**/*
  build_products: any of: products/**/*
  deploy_frontend: any of: frontend/**/*
  deploy_products: any of: products/**/*
